@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&family=Raleway&family=Roboto&family=Sedgwick+Ave&family=Shadows+Into+Light&display=swap');

$main-accent: #881337;
$sidebar-color: #ffe4e6;
$container-main-color: #fff1f2;
$default-font-color: #9f1239;
$white-font: #fff1f2;
$transition-time: 0.3s;
$modal-width: 470px;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, button {
  color: $default-font-color;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px calc(100vh - 110px) 30px;

  header {
    background-color: $main-accent;
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    display: flex;
    align-items: center;

    button {
      color: $container-main-color;
      background-color: $main-accent;

      display: none;

      ion-icon{
        font-size: 2rem;
        margin: 20px;
      }

      ion-icon:hover{
      scale: 1.1;
      }
    }

    span {
      color: $white-font;
      font-size: 2.5rem;
      font-weight: bold;
      margin-left: 30px;
    }
  }

  aside {
    background-color: $sidebar-color;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;

    overflow: auto;

    .project-text {
      font-size: 1.5rem;
      font-weight: bold;
      display:  flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 20px;
      margin-top: 50px;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid;

      span, button {
        margin: 0 20px;
      }

      button {
        background-color: $sidebar-color;
      }
      
      button:hover{
        scale: 1.2;
        transition: $transition-time;
      }
    }

    .sidebar-static, .sidebar-dynamic{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;

    }

    .sidebar-static{
      margin-top: 30px;
      
      button, .extend {
        background-color: $container-main-color;
        border-radius: 4px;
        width: 250px;
        padding: 10px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid $sidebar-color;
      }

      button:hover{
        transition: $transition-time;
        border: 1px solid $main-accent;
      }
    }

    .dynamic-item-container{
      background-color: $container-main-color;
      border-radius: 4px;
      width: 250px;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      border: 1px solid $sidebar-color;
      justify-content: space-between;
      & > button, & > div  {
       padding: 10px;
      }
      
      button {
      flex: 1;
      display: flex;
      gap: 5px;
      align-items: center;
      text-align: start;
      color: inherit;
      background-color: transparent;
      max-width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      }

      div {
        display: flex;
        gap: 5px;
      }

      div button:hover{
      scale: 1.2;
      transition: $transition-time;
      }
    }
    
    .dynamic-item-container:hover{
      transition: $transition-time;
      border: 1px solid $main-accent;
    }
  }

  main {
    background-color: $container-main-color;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: auto;
    padding: 0 10vw;

    .todo-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid $main-accent;
      min-width: 200px;
      margin-top: 20px;

      h1 {
        padding: 0 10px;
        font-size: 3rem;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      button {
        background-color: transparent;
        font-size: 2rem;
        align-self: flex-end;
      }
    }

    .todos {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .todo-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid $main-accent;
        border-width: 1px;
        min-width: 300px;

        input {
          accent-color: $main-accent;
        }
        
        .todo-item-left {
          padding: 12px 5px;
          display: flex;
          gap: 5px;
          cursor: pointer;
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          input {
            pointer-events: none
          }
        }

        .todo-item-right {
          display: flex;
          gap: 5px;
          align-items: center;

          span{
            margin-right: 10px;
            font-size: 0.9rem;
          }
          
          button {
            background-color: transparent;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
          }

          button:hover{
            scale: 1.2;
            transition: $transition-time;
          }
        }
      }

      .todo-item:hover{
        background-color: $sidebar-color;
      }

    }
  }

  footer {
    background-color: $main-accent;
    color: $white-font;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      color: $white-font;
      text-decoration: none;
    }

    a:hover{
      transition: $transition-time;
      opacity: 0.5;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .modal-content {
      background-color: $container-main-color;
      width: $modal-width;

    header {
      background-color: $main-accent;
      color: $white-font;
      padding: 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    main {
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      & > span {
        font-size: 1.2rem;
        padding: 30px 0;
        max-width: calc($modal-width - 20px);
        align-self: flex-start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 1.3rem;
        }

        input, textarea {
          padding: 5px 15px;
          width: 400px;
          border-radius: 4px;
          border: 1px solid $main-accent;
        }
      }

      .todo-expand {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 20px;
        width: 300px;
        padding: 10px;
        border-bottom: 1px solid $main-accent;

        span:nth-child(1){
          justify-self: end;
        }

        span:nth-child(2){
          max-width: inherit;
          max-height: 100px;
          overflow: auto;
          word-wrap: break-word
        }
      }
    }

    footer {
      background-color:$sidebar-color;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: end;
      gap: 20px;
      padding: 10px 0;
      padding-right: 20px;

      button {
        padding: 5px 15px;
        border-radius: 4px;
      }

      button:hover{
        opacity: 0.5;
      }

      #btnCancel {
        background-color: $container-main-color;
        border: 1px solid $main-accent;
      }
    }
  }
}

// disable default ion-icon hovered title
ion-icon {
  pointer-events: none;
}
// common
button {
  cursor: pointer;
}

.show-modal {
  visibility: visible;
}

.hide{
  display: none;
}

.show-aside {
  display: flex !important;
}

.two-column {
  grid-template-columns: 300px 1fr !important;
}

input, textarea {
  color: $default-font-color;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 10px $default-font-color;
}
.active {
  background-color: $main-accent !important;
  color: $white-font !important;
  border: 1px solid $main-accent !important;
  border-radius: inherit;
}

.active:hover {
  opacity: 0.8;
}

.checked{
  text-decoration: line-through;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;

    header {
      button {
        display: flex;
        align-items: center;
      }
      span {
        margin-left: 0px;
      }
    }

    aside {
      display: none;
      width: 300px;
    }

    main {
      grid-column: auto;
      overflow: hidden;
    }
  }
  
  .modal {
    .modal-content {
      width: auto;
    }

    input, textarea {
      width: 300px !important;
    }
  }

  h1 {
    font-size: 2rem !important;
  }
}
